body {
	padding: 0px;
	margin: 0px 5px;
}

h3 {
	font-size: 14px;
	margin: 10px 0px 0px 0px;
	padding: 0px;
}

p {
	margin: 0px 5px;
	padding: 0px;
	text-indent: 1em;
	font-size: 12px;
}

h1 {
	padding: 0px;
	text-align: center;
	margin: 0px;
	font-size: 16px;
}

span {
	font-size: 12px;
	display: block;
}

span.sub-content {
	text-indent: 2em;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

footer p {
	margin: 10px auto;
	text-indent: 0px;
	font-size: 12px;
	text-align: right;
	font-weight: bold;
}

